In [15]:
import scipy.stats
import pandas as pd

In [16]:
tabl = pd.read_csv("kruskal data.csv") 
print(tabl)

    Chocolate  Soda  Pizza  Ice cream  Avocado  Milk
0        3716  1089   1089       1481     2215  1202
1        3772   912    912       1676     2122  1053
2        3646  1149   1149       1817     1916  1057
3        3775  1211   1211       1857     2188  1156
4        3517  1244   1244       1769     2239  1061
5        3625  1060   1060       1612     2162  1062
6        3585  1190   1190       1508     1948  1098
7        3751   877    877       1774     2111  1110
8        3584  1234   1234       1668     2131  1083
9        3658  1160   1160       1576     1965  1177
10       3720  1156   1156       1545     2227  1158
11       3692  1128   1128       1662     1932  1130
12       3844  1064   1064       1639     1928  1132
13       3773  1133   1133       1671     1791  1203
14       3723  1243   1243       1465     2172  1103
15       3512  1124   1124       1698     2123  1146
16       3771  1164   1164       1598     2031  1133
17       3805  1163   1163       1678     1791  1145
18       3613  1213   1213       1821     2083  1185
19       3830  1068   1068       1459     2028  1111

In [17]:
#Kruskal Wallis Test
statistic , Pvalue = scipy.stats.kruskal(tabl["Chocolate"],tabl["Soda"],tabl["Pizza"],
        tabl["Ice cream"],tabl["Avocado"],tabl["Milk"])

print("The kruskal statistic is ",round(statistic,4))
print("The P-value is ",round(Pvalue,4))

alpha1 = 0.05
if alpha1 < Pvalue:
    print("Fail to reject the null hypothesis for alpha is 0.05")
else:
    print("Reject the null hypothesis for alpha is 0.05")
    
alpha2 = 0.01
if alpha2 < Pvalue:
    print("Fail to reject the null hypothesis for alpha is 0.01")
else:
    print("Reject the null hypothesis for alpha is 0.01")    
    
alpha3 = 0.1
if alpha3 < Pvalue:
    print("Fail to reject the null hypothesis for alpha is 0.1")
else:
    print("Reject the null hypothesis for alpha is 0.1")    
    
    

#Null hypothesis(H₀): All medians are equal(The 6 types of food have equal effects on the weight gain)
#Alternative hypothesis(H₁): At least one median is different(The 6 types of food do not have equal effects on the weight gain)

The kruskal statistic is  102.6707
The P-value is  0.0
Reject the null hypothesis for alpha is 0.05
Reject the null hypothesis for alpha is 0.01
Reject the null hypothesis for alpha is 0.1

In [18]:
#Obtaining the summary of the simulated data
import pandas as pd
wilcox = pd.read_csv("wilcoxon.csv")
wilcox[["During","After"]].describe()

          During      After
count  20.000000  20.000000
mean   14.350000   7.050000
std     3.265046   1.731291
min    10.000000   5.000000
25%    11.750000   5.750000
50%    14.000000   7.000000
75%    17.000000   8.000000
max    20.000000  10.000000

In [19]:
#Wilcoxon Signed Rank test
statistic1 , Pvalue1 = scipy.stats.wilcoxon(wilcox["During"], wilcox["After"])
print("The wilcoxon statistic = " ,statistic1)
print("The wilcoxon pvalue = ",Pvalue1)

alpha4 = 0.05
if alpha4 < Pvalue:
    print("Fail to reject the null hypothesis for alpha is 0.05")
else:
    print("Reject the null hypothesis for alpha is 0.05")
    
alpha5 = 0.01
if alpha5 < Pvalue:
    print("Fail to reject the null hypothesis for alpha is 0.01")
else:
    print("Reject the null hypothesis for alpha is 0.01")    
    
alpha6 = 0.1
if alpha6 < Pvalue:
    print("Fail to reject the null hypothesis for alpha is 0.1")
else:
    print("Reject the null hypothesis for alpha is 0.1")

The wilcoxon statistic =  0.0
The wilcoxon pvalue =  1.9073486328125e-06
Reject the null hypothesis for alpha is 0.05
Reject the null hypothesis for alpha is 0.01
Reject the null hypothesis for alpha is 0.1